body {
    margin: 0;
}

.navbar navbar-expand-lg bg-secondary {
    background-color: rgba(255, 255, 255, 0.5); /* Transparan */
    position: fixed; /* Agar tetap di atas saat scroll */
    width: 100%;
    padding: 10px 0;
}

.navbar-collapse {
    display: flex;
    justify-content: center; /* Mengatur link berada di tengah */
}

.nav-link {
    color: rgba(0, 0, 0, 0.7); /* Warna link transparan */
    text-decoration: none;
    margin: 0 15px; /* Jarak antar link */
}

.nav-link:hover {
    color: rgba(0, 0, 0, 1); /* Warna saat hover */
}